[Unit]
Description=Moonlight Game Streaming (Raspberry Pi)
Documentation=https://github.com/moonlight-stream/moonlight-docs/wiki/Installing-Moonlight-Qt-on-Raspberry-Pi-4
After=multi-user.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=eglfs
Environment=SDL_VIDEODRIVER=kmsdrm
ExecStart=/usr/bin/moonlight
Restart=on-failure
RestartSec=5
Nice=-10

[Install]
WantedBy=multi-user.target
